
<div class="container">
  <div class="row">
    <h2>Добавить нового пользователя</h2>
  </div>
</div>

<app-person-add (addperson)="onAddPerson($event)"></app-person-add>


<div class="container">
  <div class="row">
      <h2>Фильтр</h2>
  </div>
  <div class="row mt-2 mb-1">
    <div class="col-4">
      <p>Отсортировать по имени</p>
    </div>
    <div class="col-8">
      <input type="text" [(ngModel)]="search_firstname" class="form-control">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4">
      <p>Отсортировать по фамилии</p>
    </div>
    <div class="col-8">
      <input type="text" [(ngModel)]="search_lastname" class="form-control">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <h6 class="col-2 pt-2">ID</h6>
    <h6 class="col-2 pt-2">Имя</h6>
    <h6 class="col-2 pt-2">Фамилия</h6>
    <h6 class="col-2 pt-2">Телефон</h6>  
    
  </div>
</div>

<app-person-view (delPerson)="onDeletePerson($event)" (editPerson)="onEditPerson($event)" [inPerson]="person"
                  *ngFor="let person of persons | filterFirstName:search_firstname | filterLastName:search_lastname">
</app-person-view>

<hr>

